.photo-back{
    height: 360px;
    width: 360px;
    background: #121316;
    position: absolute;
    margin-left: 85px;
}

#avatar{
    position: relative;
    padding: 40px;
    margin-left: 85px;
}