.navbar{
    padding-top: 30px;
}

.navbar-brand{
    font-family: Rubik, Arial, sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.764px;
    line-height: 28px;
    text-decoration: none solid #fff;
    text-transform: uppercase;
    word-spacing: 0px;
}

.brand{
    margin-top: -25px;   
}

.brand:after {
    height: 6px;
    display: block;
    content: "";
    border-radius: 1000px;
    background: #4b6cc1;
    margin-top: 17px;
    max-width: 25%;
}

.nav-link{
    font-family: Rubik, Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    text-decoration: none solid #ababab;
    text-align: left;
    word-spacing: 0px;
    margin-left: 35px;
}

.nav-link:after {
    height: 6px;
    width: 100%;
    display: block;
    content: "";
    border-radius: 1000px;
    background: transparent;
    margin-top: 17px;
    transition: width ease .8s;
}

.nav-link:hover:after {
    background: #4b6cc1;
}






