.contact-header {
    background: #191A1D;
    padding: 33px 33px 30px 33px;
    color:#191A1D;
    height: 578px;
    text-align: center;
}

.contact-form{
    height: 550px;
    width: 950px;
}


@media (min-width: 320px) and (max-width: 500px) {
    .contact-header {
        background: #191A1D;
        padding: 0px;
        color:#191A1D;
        height: 700px;
    }

    .contact-text{
        padding: 15px;
    }
}


