.description h2{
    font-family: Rubik, Arial, sans-serif;
    font-size: 42px;
    line-height: 42px;
    text-decoration: none solid rgb(25,26,29);
    text-transform: uppercase;
    word-spacing: 0px;
    text-align: left;
}

.description p{
    font-family: Rubik, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 38.4px;
    text-decoration: none solid rgb(94,94,94);
    text-align: left;
    word-spacing: 0px;
}

.carousel-box{
    box-shadow: 0 1px 5px rgba(0,0,0,.05), 0 5px 30px rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;
    
}